* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(254, 253, 253);
  position: relative;

}

#nav {
  height: 100px;
  width: 100%;
  position: fixed;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav>h1 {
  font-size: 31px;
}

#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 20px 20px;
  font-size: 20px;
}

#nav #part2 a:nth-last-child(1) {
  /* background-color: rgb(242, 255, 0); */
  padding: 7px 18px;
  border-radius: 50px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#nav #part2 a:nth-last-child(1) #green {
  width: 100%;
  height: 100%;
  background-color: springgreen;
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.4s ease;

}
#nav #part2 a:nth-last-child(1) h5{
  font-weight: 100;
  position: relative;
  /* z-index: ; */
}

#nav #part2 a:nth-last-child(1):hover #green {
  left: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin-top: 200px;
  text-align: center;
  font-size: 18px;
  /* background: #eee; */

  /* Center slide text vertically */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.swiper-slide h3 {
  font-size: 2.5vw;
  width: 60%;
  font-family: monospace;
  font-weight: 500;
  margin: 36px;
}

.swiper-slide h5 {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 0 10px;
  position: relative;
}

.swiper-slide h5::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  color: springgreen;
  border-radius: 50%;
  left: 0;
  top: 40%;

}

.swiper-slide h6 {
  font-size: 1vw;
  /* font-weight: 500; */
  margin: 10px;
  color: rgba(0, 0, 0, 0.6);
}